/* Master CSS Rules */

#map { 
    height: 400px;
    width: 100%;
}

.tip {
    background: #ABD291;
    padding: .5em;
}

.holding {
    background: #CCCBCB;
    padding: 1em;
}

@media (max-width: 600px) {
    #logo{
        max-width: 400px;
    }
}