<!DOCTYPE html>
<html lang="en">
<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>getValue</title>
  <meta name="description" content="Growing food on the home-front">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"> </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/map.js') }}">
</script>
    
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <div class="container">
      <div class="row">
      <div class="u-full-width">
      <h1>getValue</h1>
      The following layers are available. You can query them for a value at a given point location.
          <ul id="layers">
         <!-- The template way to do it
         {% for layer in layers %}
          <li>{{layer}}</li>
         {% endfor%}-->
          </ul>
          
     http://url/layers/ gives you the same list in json.
          
      
    </div>
    </div>
    <div class="row">
        <div class="u-full-width">
        <h2>Example</h2>
      To call the api use http:/url/layers/(layername)?x=#&y=# (returns geojson)
        <label for="layerSelect">Pick a layer to query</label>
            <select class="u-full-width" id="layerSelect">
                <!-- options filled by js-->
            </select>
            Test region is in the red box, no values guaranteed outside of it.
            <div id="map"></div>
        </div>
    </div>
  </div>
</body>
</html>